

.header__wrapper{
    font-family: 'Inter', sans-serif;
    font-style: normal;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    margin-bottom: 94px;
    margin-top: 62px;
}

.header__logo{
    display: flex;
    flex-direction: column;
    margin-right: 27px;
}
.header__logo__link{
    display: flex;
    margin-bottom: 10px;
    width: 140px;
    height: 24px;
}

.header__logo__title{
    font-family: 'Montserrat-Light';
    font-weight: 10;
    font-size: 10px;
    line-height: 12px;
    width: 165px;
    height: 24px;
    color:#E4E5EA;

}

.header__list{
    display: flex;
    flex-wrap: wrap;
}

.header__link{
    margin-right: 31px;
    line-height: 19px;

}

.header__nav{
    padding-top: 4px;
}


/* contact */
.header__contacts{
    margin-left: 112px;
    display: flex;
    justify-content: end;
}
.header__contacts__list{
    padding-top: 4px;
    display: flex;
}
.header__contacts__item{
    margin-right: 33px;
}
.header__contacts__item:last-child{
    margin-right: 0;
}
.header__contacts-pic{
   width: 16px;
   height: 16px;   
}

.header__item-phone{
    margin-right: 18px;

}

